<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        
    </head>
    <body>
        <div class="addForm">
            URL: <input type="text" id="url"><br>
            Title: <input type="text" id="title"> <br>
            Notes: <input type="text" id="notes"> <br>
            Tags: <input type="text" id="tags"> <br>
            <input type="button" id="addButton">
        </div>
        <h2>Loop</h2>
        <ul>
            <% users.forEach(function(user){ %>
                <li>Title: <%= user.title %></li>
          <%  }); %>
        </ul>
        <script src="/scripts/post.js"></script>
    </body>
    
</html>