<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>Register for LinkMe</title>
    </head>
    <body>
        <h1>Register for a LinkMe Account</h1>
        <form action="/register" method="POST">
        <div class="form-group">
        <input type="text" name="email" placeholder="email" required=true>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="password" required=true>
        </div>
        <div class="form-group">
            <input type="submit">
        </div>

        </form>
    </body>
</html>